@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
}

.wrapper {
  background-color: #f7f7f9;
  width: 375px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  background-color: #fff;
}

.logo {
  padding: 10px 12px;
}

.logo a {
  text-decoration: none;
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  gap: 40px;
  padding-right: 15px;
}

.nav-items li a {
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #344563;
}

section {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 114px;
  padding-bottom: 114px;
  padding-left: 24px;
  padding-right: 24px;
}

.intro {
  background-image: url(header-shapes.png);
  height: 604px;
  position: relative;
}

.title {
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  transition: ease-in-out transform 0.5;
}

.title:hover {
  transform: rotateY(45deg);
}

.intro p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.social-media h5 {
  margin-top: 15px;
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-family: inherit;
}

ul {
  list-style: none;
}

.social-media ul {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 0;
}

.lang-tags li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

.social-media ul li {
  list-style: none;
}

.cards {
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn img {
  margin-left: 160px;
}

.js img {
  margin: 10px 20px;
}

.frame img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  right: 40px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
  margin-left: 160px;
}

.skills img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  right: 40px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
  margin-left: 230px;
}

.cards img {
  transition: transform 0.5s ease-in;
  transition-delay: 0.2;
}

.cards img:hover {
  transform: scale(1.2);
}

.section-1 {
  padding-top: 56px;
  padding-bottom: 56px;
}

.section-2 {
  padding-top: 56px;
  padding-bottom: 56px;
}

.section-3 {
  padding-top: 56px;
  padding-bottom: 56px;
}

.section-4 {
  padding-top: 56px;
  padding-bottom: 56px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  gap: 12px;
}

.project-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
}

.project-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  text-align: left;
}

.extra-info {
  display: flex;
  gap: 10px;
}

.proj-name {
  color: #344563;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.job-title {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.details {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.lang-tags {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
}

.link {
  padding: 16px;
  display: flex;
  gap: 12px;
  width: max-content;
  background: #fff;
  border: 1px solid #6070ff;
  border-radius: 16px;
  margin-top: 15px;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

.link:hover {
  color: #fff;
  background-color: #396df2;
}

.about {
  border-top-right-radius: 60px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.skill-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  height: 464.15px;
}

.languages {
  margin-top: 20px;
  margin-bottom: 20px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
  width: 327px;
}

.btn {
  display: flex;
  flex-direction: row;
}

.btn:hover {
  color: #7a869a;
}

.lang-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;
  gap: 12px;
  width: 327px;
}

.js {
  background: #f7f7f9;
  border-radius: 8px;
  width: 303px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  font-family: inherit;
  display: flex;
  align-items: center;
}

.frame {
  width: 327px;
  height: 72px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.skills {
  width: 327px;
  height: 72px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.sep {
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #dfe1e6;
}

.contact-me {
  background: #6070ff;
  background-image: url("shapes.png");
  background-repeat: no-repeat;
  background-position: 160px 40px;
  border-top-left-radius: 60px;
}

.title-contact-me {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.contact-me p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  transition: ease-out 0.5 transform;
  transition-delay: 0.2s;
}

.contact-me p:hover {
  transform: translate(30px);
}

fieldset {
  border: none;
}

input {
  background: #fff;
  border-radius: 8px;
  border: none;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  align-items: center;
  color: #172b4d;
  height: 50px;
  width: 300px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}

input::placeholder {
  height: 18px;
  padding-left: 16px;
  right: 38px;
  top: calc(50% - 18px / 2);
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

textarea {
  background: #fff;
  border-radius: 8px;
  border: none;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  align-items: center;
  color: #172b4d;
  margin-top: 20px;
  font-family: inherit;
}

textarea::placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  padding-left: 16px;
  right: 38px;
  padding-top: 15px;
  bottom: 15px;
}

.sub {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: flex-start;
  letter-spacing: 0.03em;
  border: none;
  color: #6070ff;
  font-family: inherit;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
}

.sub:hover {
  background-color: #6070ff;
  color: #fff;
}

@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  header {
    height: 72px;
  }

  .wrapper {
    width: 900px;
  }

  .intro {
    background-image: url(header.png);
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    padding-left: 160px;
  }

  .logo {
    padding-left: 90px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
  }

  .nav-items {
    padding-right: 90px;
    display: flex;
    align-items: center;
  }

  figure {
    display: none;
  }

  .title {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    padding-right: 160px;
    padding-top: 100px;
  }

  .intro p {
    padding-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding-right: 160px;
    padding-bottom: 23px;
  }

  .social-media h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .cards {
    background-color: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .projects h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    font-family: inherit;
  }

  .proj-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-family: inherit;
  }

  .desk {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-family: inherit;
  }

  .mobileV {
    display: none;
  }

  .details {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .job-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #6b778c;
  }

  #mobile {
    display: none;
  }

  .tonic {
    width: 400px;
  }

  #mult-1 {
    display: none;
  }

  #multo {
    display: none;
  }

  #tonic {
    display: none;
  }

  .section-3 {
    display: flex;
    flex-flow: row;
  }

  .imgs {
    order: 2;
  }

  .projects {
    order: 1;
    padding: 20px;
  }

  .section-1 {
    display: flex;
    flex-flow: row;
  }

  .lang-tags {
    gap: 8px;
    width: 316px;
    height: 24px;
  }

  .detailsM {
    display: none;
  }

  .lang-tags li:nth-child(2) {
    width: 110px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.03em;
  }

  .section-2 button {
    background: #4053fc;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    border-radius: 8px;
    color: #fff;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-top: -200px;
  }

  .sec1 {
    margin-left: 70px;
    margin-right: 70px;
  }

  .about h2 {
    font-family: inherit;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
    margin-bottom: 30px;
    margin-top: -80px;
    margin-left: 10px;
  }

  .about p {
    margin-bottom: 30px;
  }

  .languages {
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #344563;
    margin-left: 20px;
  }

  .languages img {
    margin-left: 230px;
  }

  .lang-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 12px;
  }

  .js {
    gap: 8px;
    width: 316px;
    height: 120px;
    font-family: inherit;
    background: #f7f7f9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .frame .skills {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #344563;
    margin-left: 100px;
  }

  .skills img {
    margin-left: 300px;
  }

  .frame img {
    margin-left: 240px;
  }

  .contact-me {
    background-image: url("contact.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
    gap: 24px;
    width: 550px;
    height: 577px;
  }

  fieldset {
    margin-left: 70px;
  }

  input {
    height: 48px;
    width: 400px;
    border-radius: 2px;
  }

  textarea {
    height: 140px;
    width: 395px;
    left: 16px;
    top: 15px;
    border-radius: 2px;
  }

  .sub {
    margin-left: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 142px;
    height: 48px;
  }
}

@media (max-width: 768px) {
  .nav-items {
    display: none;
  }

  #desktop {
    display: none;
  }

  #multi-2 {
    display: none;
  }

  #multi {
    display: none;
  }

  #Snapshoot {
    display: none;
  }

  .lang-tags li:nth-child(2) {
    display: none;
    visibility: hidden;
  }

  .desk {
    display: none;
  }

  .detailsD {
    display: none;
  }
}
