* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
}

.nav-container {
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

.logo {
  width: 76px;
  height: 20px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 20px;
  color: #6070ff;
}

.typography h1 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 70;
  font-size: 48px;
  line-height: 60px;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.typography p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
}

.typography a {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.img {
  width: 170.17px;
  height: 20px;
  left: 260px;
  top: 642px;
}

.img img {
  margin-right: 10px;
  margin-top: 5px;
}

img a:hover {
  color: #6070ff;
}
